# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html
# 爬虫部署项目使用的文件

[settings]
default = tuxingtianxia.settings

[deploy：tuxingianxia]
url = http://localhost:6800/
project = tuxingtianxia
